html {
    font-family: Roboto, RobotoDraft, Helvetica, Arial, sans-serif;
}

* {
    margin: 0;
    padding: 0;
    outline: none;
    border: none;
}

body {
    max-width: 60rem;
    margin: 0 auto;
    padding: 1rem;
}

h1 {
    font-size: xx-large;
}

h2 {
    font-size: x-large;
}

h3 {
    font-size: large;
}

h1, h2, h3 {
    margin: 1.5rem 0;
}

p {
    margin: 1rem 0 0.5rem 0;
    line-height: 1.5;
}

li {
    margin: 0.5rem;
}

pre {
    display: block;
    margin-bottom: 1rem;
}

code {
    font-size: large;
    background-color: #EEE;
}

header {
    background-image: url("/assets/images/icon-96.png");
    background-position: right top;
    background-repeat: no-repeat;
}

footer {
    margin-top: 100px;
    text-align: center;
}

header a {
    font-family: Consolas, "Lucida Console", monospace;
    cursor: pointer;
    font-size: 2rem;
    text-decoration: none;
    display: block;
}

header a:link,
header a:active,
header a:visited,
header a:hover {
    color: black;
}

header hr {
    height: 5px;
    background: linear-gradient(90deg,
    lightseagreen 0px,
    lightseagreen 95px,
    black 100px,
    black 120px,
    red 125px,
    red 145px,
    gold 150px,
    gold 170px,
    lightseagreen 175px,
    lightseagreen 80%,
    transparent 90%
    );
}

header #title {
    display: flex;
    flex-wrap: wrap;
    justify-content:space-between;
    align-items: center;
    margin-right: 96px;
    min-height: 72px;
}

ul {
    list-style-position: inside;
}

#content {
}

#content img {
    max-width: 100%;
}

#tags {
    margin: 10px 0;
    font-size: 14px;
    font-family: Consolas, "Lucida Console", monospace;
}