<!DOCTYPE html>
<!--{{site.time | date: '%Y-%m-%d %H:%M'}}-->
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>{{ page.title }}</title>
    <meta name="description" content="{{ page.desc }}">
    <meta name="keywords" content="{{ page.tags | join: ', ' }}">
    <meta name="author" content="Cavensio">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="canonical" href="{{ page.url | absolute_url }}">
    <link rel="shortcut icon" href="/assets/images/icon-96.png">
    <link rel="stylesheet" href="/assets/css/default.css?{{site.time | date: '%s'}}"/>

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/10.5.0/styles/atom-one-dark.min.css">

    <script src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/10.5.0/highlight.min.js"></script>
    <script>hljs.initHighlightingOnLoad();</script>
</head>
<body>

<header>
    <div id="title">
        <a href="/">Cavensio</a>
        <div style="text-align: right;">German quality
            <br/> <small> for the price of the Aliexpress</small>
        </div>
    </div>
    <hr/>
    <div id="tags">
        # {{ page.tags | join: ", " }}
        <span style="float:right">{{ page.date | default: site.time | date: "%Y-%m-%d"  }}</span>
    </div>

</header>

{{ content }}

<footer>
    &copy; 2021 <a href="mailto:xantorohara@gmail.com"> Cavensio </a>
</footer>

</body>
</html>
